[Unit]
Description=rsyslog transmit loginotify
After=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/nohup /usr/bin/python /opt/RsyslogTransmit-client/loginotify.py >/dev/null  2>&1 &

[Install]
WantedBy=multi-user.target
