[Desktop Entry]
Encoding=UTF-8
Name=RsyslogTransmit-server
Type=Application
Exec=/opt/RsyslogTransmit-server/transmit-server.py
X-MATE-Autostart-Phase=Application
Terminal=false
X-MATE-Autostart-Notify=true
